doctype html
head
  meta(charset='UTF-8')

  title PM Global Assessment by Mayowa
  link(rel='stylesheet' href='assets/css/me.css' type='text/css' media='screen')
  meta(name='viewport' content='width=device-width,initial-scale=1')
body#fullsingle.page-template-page-fullsingle-me
  .fs-me
    .me-content
      .bio

        p
          | Fadeni Mayowa's submission
          
        p
          | API testing at&nbsp;
          a(href='/users') API
        p
          | Use appropiate API testing
          a(href='https://www.testim.io/blog/the-9-api-testing-tools-you-cant-live-without-in-2019-2/')  tool
