doctype html
head
  meta(charset='UTF-8')

  title PM Global Assessment by Mayowa
  link(rel='stylesheet' href='assets/css/me.css' type='text/css' media='screen')
  meta(name='viewport' content='width=device-width,initial-scale=1')
.fs-me
  .me-content
    .bio
      p
        | API testing at&nbsp;
        a(href='https://pm-global-api.vercel.app/users') API
      p
        | Use appropiate API testing
        a(href='https://www.testim.io/blog/the-9-api-testing-tools-you-cant-live-without-in-2019-2/') tool
